.create-edit-team {
  width: 95%;
}

.team-section {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 200vh;
  overflow: auto;
  width: 95%;
  border-radius: 15px;
  margin-top: 4vh;
  margin-bottom: 4vh;
  overflow: hidden;
}

.team-heading {
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #563682;
  font-size: 3vh;
  border-bottom: 1px solid lightgray;
}

.team-heading h6 {
  margin-left: 1.5vw;
}

.team-all {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.team-content {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.team-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 40%;
}

.team-desc-title {
  padding-top: 3vh;
}

.team-desc-text {
  border: 2px solid lightgray;
  border-radius: 5px;
  max-width: 100%;
  height: 60%;
}

.team-tags-title {
  padding-top: 3vh;
}
textarea {
  resize: none;
  padding-top: 0.5vh;
}

.team-tags-text {
  border: 2px solid lightgray;
  border-radius: 5px;
  height: 30%;
}

.team-info-heading {
  display: flex;
  justify-content: center;
}

.team-info-title {
  padding-top: 5vh;
  font-size: 1.75vh;
  color: gray;
  font-weight: 800;
}

.team-info-fields {
  display: flex;
  flex-direction: row;
  padding-top: 9vh;
  justify-content: space-between;
  height: 60%;
}

.team-name-and-desc-fields {
  display: flex;
  flex-direction: column;
  width: 45%;
  height: 100%;
}

.team-website-field {
  display: flex;
  flex-direction: column;
  width: 45%;
  height: 100%;
}

.team-type-options {
  display: flex;
  flex-direction: row;
  margin-top: 1vh;
  color: lightgray;
}

.team-text-input {
  height: 3vh;
  border: 2px solid lightgray;
  border-radius: 5px;
}

input:focus {
  outline: none;
  border: 2px solid #c01643;
}

textarea:focus {
  outline: none;
  border: 2px solid #c01643;
}

::placeholder {
  padding-left: 0.5vw;
  color: lightgray;
}

.team-fields-title {
  padding-bottom: 1vh;
  font-size: 1.5vh;
  font-weight: 600;
}

.squad-config-title {
  padding-top: 2vh;
  font-size: 1.75vh;
  color: gray;
  font-weight: 800;
}

.squad-config-info {
  height: 50%;
}

.squad-config {
  display: flex;
  flex-direction: row;
  margin-top: 5vh;
  justify-content: space-between;
}

.team-type-title {
  padding-top: 6vh;
  padding-bottom: 1vh;
  font-size: 1.5vh;
  font-weight: 600;
}

.squad-config-formation-and-field {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.squad-config-search-and-player {
  width: 45%;
}

.squad-config-search {
  flex-direction: column;
  margin-bottom: 3vh;
  width: 100%;
  display: flex;
}

.squad-config-heading {
  display: flex;
  justify-content: center;
}

.squad-config-formation {
  display: flex;
  align-items: center;
  width: 90%;
}

.squad-config-formation-title {
  font-size: 1.5vh;
  font-weight: 600;
  margin-right: 3vw;
}

.squad-config-formation-selector {
  font-size: 1.5vh;
  font-weight: 600;
  height: 3.5vh;
  width: 10vw;
  border: 1px solid lightgray;
  border-radius: 3px;
}

.squad-config-field {
  width: 100%;
  height: 90vh;
  background: linear-gradient(
    to bottom,
    rgba(137, 45, 98, 1) 0%,
    rgba(137, 47, 113, 1) 50%,
    rgba(112, 41, 114, 1) 100%
  );
  border-radius: 3px;
  margin-top: 1.5vh;
  margin-bottom: 3vh;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.save-changes-button {
  width: 100%;
  height: 4.75vh;
  color: white;
  border: 2px solid #a72e64;
  border-radius: 3px;
  background: linear-gradient(
    to bottom,
    rgba(143, 47, 112, 1) 0%,
    rgba(130, 45, 112, 1) 50%,
    rgba(109, 40, 113, 1) 100%
  );
  font-weight: 700;
  font-size: 2vh;
  margin-bottom: 10vh;
  cursor: pointer;
}

.team-type-input {
  margin-right: 0.5vw;
}

.team-type-input-title {
  margin-right: 3vw;
}

input {
  color: rgb(180, 180, 180);
  font-size: 1.5vh;
  padding-left: 0.5vw;
}

textarea {
  color: rgb(180, 180, 180);
  font-size: 1.5vh;
  padding-left: 0.5vw;
}

select {
  padding-left: 0.5vw;
}

.squad-config-result {
  background: linear-gradient(
    180deg,
    rgba(252, 252, 252, 1) 0%,
    rgba(237, 237, 237, 1) 50%,
    rgba(225, 225, 225) 100%
  );
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 9vh;
  border: 2px dashed lightgrey;
  margin-bottom: 1vh;
  align-items: center;
}

.squad-config-result-container {
  display: flex;
  justify-content: space-between;
  width: 93%;
  height: 60%;
  align-items: center;
}

.squad-config-result-name-and-nationality {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 85%;
  height: 80%;
}

.squad-config-result-content {
  display: flex;
  font-size: 1.6vh;
  font-weight: 600;
  color: black;
}

.squad-config-result-text {
  color: #c9335d;
  font-weight: 500;
  padding-left: 0.3vw;
}

.squad-config-result-age {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 15%;
  height: 80%;
}

.create-edit-team {
  display: flex;
  justify-content: center;
}

.field-row {
  display: flex;
  width: 100%;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.player {
  width: 15%;
  height: 50%;
  border-radius: 100%;
  border: 1px solid black;
  margin-left: 1vw;
  margin-right: 1vw;
  background-color: white;
  opacity: 0.5;
  text-align: center;
}

.invalid-input {
  border: 3px solid #c01643;
}

.invalid-title {
  color: #c01643;
}

.player-on-field {
  width: 15%;
  height: 50%;
  border-radius: 100%;
  border: 1px solid black;
  margin-left: 1vw;
  margin-right: 1vw;
  background-color: grey;
  text-align: center;
}

.team-main {
  display: flex;
  justify-content: center;
  height: 210vh;
}
