.tops-and-pick {
  display: flex;
  flex-direction: column;
  width: 48%;
  height: 100%;
}

.home-my-teams {
  width: 48%;
}

.home-container {
  display: flex;
  flex-direction: row;
  width: 95%;
  justify-content: space-between;
}

main {
  display: flex;
  justify-content: center;
  height: 100%;
}
