.tops-and-pick {
  display: flex;
  flex-direction: column;
  width: 48%;
  height: 90%;
}

.home-my-teams {
  width: 48%;
  height: 90%;
}

.home-container {
  display: flex;
  flex-direction: row;
  width: 95%;
  justify-content: space-between;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
  height: 100%;
  background-color: #f5f5f5;
}

#root {
  height: 100vh;
}
